<div id='customer'>
  <h2><%= @customer.name %></h2>
</div>

<div id='items'>
 <% @items.each do |item| %>
       <p><%= item.name %><br>
       $<%= item.price %><br>
       <%= item.supermarket.name %></p>
<% end %>
</div>

Add New Item:
<div id='add_new_item'>
    <%= form_with url: '/items/add_customer', method: :patch, local: true do |f| %>
    <%= f.label 'Item id:' %>
    <%= f.text_field :item_id %>
    <%= f.hidden_field :customer_id, value: @customer.id %>
    <%= f.submit 'Add Item'%>
    <% end %>
</div>